@charset "ISO-8859-1";

.content{
	padding-left: 100px;
}
.menu{
	background-color: #FFFACD;
	padding-left: 250px;
}
.menu-link{
	color: black;
	text-decoration: none;
}

.menu-link :hover{
	color: #404040;
	text-decoration: none;
}